<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>356549751124-8qvbk43p02tk4utk1ierhgrsk3gn380j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356549751124-8qvbk43p02tk4utk1ierhgrsk3gn380j</string>
	<key>API_KEY</key>
	<string>AIzaSyCWpVE_vIT_FK9a_UdB6BphQdr3IR6EzGE</string>
	<key>GCM_SENDER_ID</key>
	<string>356549751124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourappnow.26488</string>
	<key>PROJECT_ID</key>
	<string>iospont-2bded</string>
	<key>STORAGE_BUCKET</key>
	<string>iospont-2bded.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:356549751124:ios:cc730509a2ab0f45</string>
	<key>DATABASE_URL</key>
	<string>https://iospont-2bded.firebaseio.com</string>
</dict>
</plist>